{
	# Debug
    {$DEBUG}

	frankenphp {
		#worker /path/to/your/worker.php
		{$FRANKENPHP_CONFIG}
	}
}

{$SERVER_NAME:localhost}

handle_errors {
    # @todo: Somehow redirect to TYPO3 to let it do its thing!
	respond "{err.status_code} {err.status_text}"
}

log
route {
	root * public/
	# Add trailing slash for directory requests
	@canonicalPath {
		file {path}/index.php
		not path */
	}
	redir @canonicalPath {path}/ 308

    @indexFiles file {
        try_files {path} {path}/index.php
        split_path .php
    }

    rewrite @indexFiles {http.matchers.file.relative}

    # TYPO3 Backend - if not set, backend routing will not work!
    # @todo: Do not redirect /typo3/install.php
    rewrite /typo3/* /typo3/index.php

	# FrankenPHP!
	@phpFiles path *.php
	php @phpFiles
	encode zstd gzip
	file_server

	respond 404
}